/* Lenguaje basado en reglas que determianl en estilo de los elementos /*
/* Formas de usarlo:
 - Estilo en linea
 - Elemento <style><\style>
 - Archivo .css
 */ 

 /* Los selectores definen que elementos van a seguir la regla */

body {
  background-color: oldlace;
 }

a,
.info {
  color: olive;
  /* text-decoration: none; */
}

h1,
h2,
h3 {
  color: darkgreen;
  font-family: "Reenie Beanie", cursive;
  font-size: 40px;
}

p,
ol,
form {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
}

strong,
em,
s {
  color: limegreen;
  font-weight: 600;
}

img {
  padding: 5vw;
  margin: 5vw;
  border-width: 5px;
  border-radius: 50%;
  border-color: blue;
  border-style: solid;
}

div {
  padding: 10px;
  background-color: lemonchiffon;
}

#Rep {
  font-family: "Space Grotesk", sans-serif;
  font-size: medium;
}

input[type=text] {
  margin-left: 70px;
  margin-bottom: 15px;
}

.lista {
  text-decoration: none;
}

/* Prioridades:
0. Estilo en linea (HTML)
1. Id
2. Clases
3. Selectores de tipo
Esta prioridad se puede cambiar usando !important
*/